@import url("https://rsms.me/inter/inter.css");
/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"); */
/* @import url("../static/css/nucleo-icons.css");
@import url("../static/css/nucleo-svg.css"); */
:root {
   --font-sans-serif: 'Inter var';
   font-family: var(--font-sans-serif);
   --heading-3: 30px;
   --legend-size: 20px;
}

[type='checkbox'], [type='radio'] {
   cursor: pointer;
}

.navbar-brand {
   display: block;
   max-width: 200px;
}

.link-primary {
   --link-color: #3737c7;
   color: var(--link-color);
}

h3 {
   font-size: var(--heading-3);
   font-weight: bold;
}
legend {
   font-size: var(--legend-size);
   font-weight: bold;
}
