/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"); */
/* @import url("../static/css/nucleo-icons.css");
@import url("../static/css/nucleo-svg.css"); */

[type='checkbox'], [type='radio'] {
   cursor: pointer;
}

.navbar-brand {
   display: block;
   max-width: 200px;
}

.form-control {
   --line-height: 35px;
   height: var(--line-height);
   line-height: var(--line-height);
   border: 1px solid gray;
}
